.lora{
    color: rgb(85, 118, 85);
    padding: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-color: rgb(238, 223, 202);
}